<nav class="navbar justify-content-center">
  <ul class="nav nav-fill">
    <li id="conBorde" class="nav-item">
      <a class="nav-link" [routerLink]='["/"]'>Inicio</a>
    </li>
    <li id="conBorde" class="nav-item">
      <a class="nav-link" [routerLink]="['/clienteRegistro']">Clientes</a>
    </li>
    <li id="conBorde" class="nav-item">
      <a class="nav-link" [routerLink]="['/clienteConsulta']">Consulta Cliente</a>
    </li>
    <li id="conBorde" class="nav-item">
      <a class="nav-link" [routerLink]="['/habitacionRegistro']">Habitaciones</a>
    </li>
    <li id="conBorde" class="nav-item">
      <a class="nav-link" [routerLink]="['/']">Reservas</a>
    </li>
    <li id="conBorde" class="nav-item">
      <a class="nav-link" [routerLink]="['/habitacionConsulta']">Consultas</a>
    </li>
  </ul>
</nav>